:root {
    --themeIndicator: rgba(128,128,128,0.5);
}

@keyframes jsw-indicator-bounce {
    0% { top: 0px; }
    7% { top: 18px; }
    14% { top: 0px; }
    21% { top: 12px; }
    28% { top: 0px; }
    35% { top: 6px; }
    42% { top: 0px; }
    0% { top: 0px; }
}

.jsw-indicator {

    opacity: 0;
    position: relative;
    transition: opacity 0.5s;
    cursor: pointer;
    border: none;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 64px;
    width: 96px;

    label {
        font-size: 18px;
        letter-spacing: 2px;
        color: var(--themeIndicator);
        margin-bottom: 12px;
    }

    .jsw-chevron {

        width: 42px;
        height: 28px;

        &::before, &::after {
            background-color: var(--themeIndicator);
            height: 2px;
            width: 50%;
            top: calc(50% - 1px);
            transform-origin: center;
            position: absolute;
            content: "";
        }

        &::before {
            transform: skewY(30deg);
            left: 0;
        }

        &::after {
            transform: skewY(-30deg);
            left: 50%;
        }

    }

    &.active {
        opacity: 1;

        .jsw-chevron {
            animation: jsw-indicator-bounce 2.2s infinite;
        }
    }

}