:root {
    --themeInputLabel: rgb(140,140,140);
    --themeInputPlaceholder: rgb(210,210,210);
    --themeInputText: rgb(60,60,60);
    --themeInputBackground: transparent;
    --themeInputBorder: rgb(220,220,220);
}

.jsw-input {

    display: flex;
    align-items: center;
    box-sizing: border-box;
    position: relative;
    max-height: 512px;

    transition: opacity 0.3s, max-height 0.3s;

    .jsw-icon {
      width: 32px;
      height: 32px;
      font-size: 28px;
      margin-right: 12px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--themeInputLabel);
    }

    label {
        font-size: 14px;
        color: var(--themeInputLabel);
        margin-right: 14px;
    }

    input, textarea {
        font-size: 14px;
        padding: 12px;
        box-sizing: border-box;
        color: var(--themeInputText);
        width: 100%;
        resize: none;

        &::placeholder {
            color: var(--themeInputPlaceholder);
        }
    }

    input {
      border: none;
      border-bottom: 1px solid var(--themeInputBorder);
    }

    textarea {
      height: 128px;
      border: 1px solid var(--themeInputBorder);
    }

    .jsw-close {
        position: absolute;
        right: 8px;
        top: calc(50% - 6px);
        height: 12px;
        width: 12px;
        opacity: 0;
        pointer-events: none;
        user-select: none;

        transition: opacity 0.25s;

        &.jsw-close-visible {
          opacity: 1;
          pointer-events: all;
          user-select: unset;
        }
    }

    &.jsw-hidden {
        opacity: 0;
        max-height: 0px;
    }

}