:root {
    --themeMain: rgb(255,170,0);
}

div {
    box-sizing: border-box;
    position: relative;
}

.jsw-chevron {
    position: relative;
    width: 16px;
    height: 16px;

    &::before, &::after {
        position: absolute;
        content: "";
        width: 50%;
        top: 2px;
        height: 3px;
        background-color: rgb(120,120,120);
    }

    &::before {
        left: 0;
        transform-origin: 0 0;
        transform: skewY(45deg);
    }

    &::after {
        left: 50%;
        transform-origin: 100% 100%;;
        transform: skewY(-45deg);
    }
}

.jsw-arrow {
    position: relative;
    width: 8px;
    height: 8px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 8px solid rgb(120,120,120);
}

.jsw-close {
    position: relative;
    width: 18px;
    height: 18px;
    cursor: pointer;
    background-color: transparent;
    border: none;

    &::before, &::after {
        background-color: rgb(160,160,160);
        height: 2px;
        width: 100%;
        position: absolute;
        content: "";
        transform-origin: center;
        left: 0;
        top: calc(50% - 1px);
    }

    &::before {
        transform: rotate(45deg);
    }

    &::after {
        transform: rotate(-45deg);
    }
}