:root {
    --themeMain: rgb(255,170,0);
    --themeButton: rgb(255,170,0);
    --themeButtonBorder: rgb(119, 79, 0);
    --themeButtonText: white;
}

div {
    box-sizing: border-box;
    position: relative;
}

*[tooltip] {

  &::after {
    content: attr(tooltip);
    position: absolute;
    z-index: 1014;
    background-color: black;
    color: white;
    font-size: 11px;
    letter-spacing: 1px;
    font-weight: 100;
    padding: 4px 6px;
    box-sizing: border-box;
    text-align: center;
    top: calc(100% + 12px);
    left: 50%;
    transform: translateX(-50%);
    border-radius: 2px;
    font-family: Arial, Helvetica, Times;
    opacity: 0;
    pointer-events: none;
    user-select: none;
    box-shadow: 4px 4px 6px 0 rgba(0,0,0,0.42);

    transition: opacity 0.4s;
  }

  &:hover {
    &::after {
      opacity: 1;
      transition: opacity 0.25s linear 0.4s;
    }
  }
}

.jsw-chevron {
    position: relative;
    width: 16px;
    height: 16px;

    &::before, &::after {
        position: absolute;
        content: "";
        width: 50%;
        top: 2px;
        height: 3px;
        background-color: rgb(120,120,120);
    }

    &::before {
        left: 0;
        transform-origin: 0 0;
        transform: skewY(45deg);
    }

    &::after {
        left: 50%;
        transform-origin: 100% 100%;;
        transform: skewY(-45deg);
    }
}

.jsw-arrow {
    position: relative;
    width: 8px;
    height: 8px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 8px solid rgb(120,120,120);
}

.jsw-close {
    position: relative;
    width: 18px;
    height: 18px;
    cursor: pointer;
    background-color: transparent;
    border: none;

    &::before, &::after {
        background-color: rgb(160,160,160);
        height: 2px;
        width: 100%;
        position: absolute;
        content: "";
        transform-origin: center;
        left: 0;
        top: calc(50% - 1px);
    }

    &::before {
        transform: rotate(45deg);
    }

    &::after {
        transform: rotate(-45deg);
    }
}

.jsw-error-boundary {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5%;

  h1 {
    font-size: 48px;
    color: rgb(220,220,220);
    margin: 0 0 22px 0;
    text-align: center;
  }

  p {
    color: rgb(60,60,60);
    font-size: 14px;
    line-height: 22px;
    text-align: center;
  }
}