.jsw-selector {
    display: flex;
    margin: 0 0 12px 0;
    align-items: center;
    position: relative;
    width: fit-content;

    & > label {
      font-size: 14px;
      margin-right: 24px;
      color: var(--themeInputLabel);
    }

    .jsw-selector-icon {
      width: 38px;
      min-width: 38px;
      height: 38px;
      min-height: 38px;
      padding: 4px;
      margin: 0 4px;
      overflow: hidden;
      
      img {
        border-radius: 4px;
        object-position: center;
        object-fit: contain;
        width: 100%;
        height: 100%;
      }
    }

    .jsw-selector-main {
        position: relative;
        width: 256px;
        height: 32px;
        display: flex;
        align-items: center;
    }

    .jsw-selector-list {
        max-height: 0;
        width: 100%;
        opacity: 0;
        pointer-events: none;
        position: absolute;
        left: 0;
        top: calc(100% - 5px);
        z-index: 100;
        border: 1px solid rgb(160,160,160);
        border-top: none;
        background-color: white;
        overflow-y: hidden;
        overflow-x: hidden;
        border-radius: 0 0 4px 4px;
        padding-top: 4px;

        transition: max-height 0.25s ease-in-out, height 0.25s ease-in-out, opacity 0.3s ease-in-out 0.15s;

        &::after {
            position: absolute;
            content: "";
            top: 4px;
            width: 92%;
            left: 4%;
            border-bottom: 1px solid rgb(220,220,220);
        }
    }

    input {
        height: 32px;
        box-sizing: border-box;
        padding: 12px;
        width: 100%;
        border-radius: 4px;
        border: 1px solid rgb(160,160,160);
        background-color: white;

        transition: box-shadow 0.3s;

        &::placeholder {
          color: rgb(210,210,210);
        }
    }

    &.open {
        .jsw-selector-list {
            max-height: 256px;
            opacity: 1;
            pointer-events: all;
            overflow-y: auto;
    
            transition: max-height 0.4s ease-in-out, height 0.4s ease-in-out, opacity 0.2s ease-in-out;
        }

        input {
            box-shadow: 0 0 6px 3px rgba(186,218,251,0.7);
        }

        .jsw-chevron {
            transform: rotate(180deg);
        }
    }

    .jsw-selector-button {
        z-index: 2;
        width: 32px;
        height: 32px;
        position: absolute;
        right: 0;
        cursor: pointer;
        border: none;
        border-radius: 0 4px 4px 0;
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;

        transition: filter 0.3s ease-in-out;

        &:hover {
            filter: brightness(105%);
        }

        &:active {
            filter: brightness(85%);
            transition: filter 0.05s ease-in-out;
        }

        .jsw-chevron {
            width: 14px;
            height: 14px;
        }
    }

    .jsw-selector-item {
        width: 100%;
        display: flex;
        align-items: center;
        padding: 2px 4px;
        min-height: 28px;
        cursor: pointer;

        p {
          font-size: 14px;
          margin: 0 4px;
          display: flex;
          align-items: center;
          color: rgb(60,60,60);
        }

        transition: background-color 0.35s ease-in-out;

        .jsw-selector-item-icon {
          min-width: 26px;
          min-height: 26px;
          margin: 2px 8px 2px 2px;
          border-radius: 4px;
          overflow: hidden;
          display: flex;
          align-items: center;
          justify-content: center;
          overflow: hidden;

          img {
            width: 100%;
            height: 100%;
            width: 32px;
            height: 32px;
            margin: 4px 0;
            object-fit: contain;
            object-position: center;
          }

          svg {
            font-size: 20px;
            color: rgb(200,200,200);
          }
        }

        .jsw-selector-item-button {
          position: absolute;
          right: -102%;
          height: 26px;
          padding: 2px;
          cursor: pointer;
          opacity: 0;
          pointer-events: none;
          user-select: none;
          display: flex;
          align-items: center;

          transition: right 0.25s ease-in-out, opacity 0.25s ease-in-out;

          svg {
            font-size: 18px;
            color: rgb(80,80,80);
            transition: filter 0.25s;

            &:hover {
              filter: brightness(115%);
            }
          }
        }

        &:hover {
            background-color: rgb(240,240,240);

            .jsw-selector-item-button {
              right: 6px;
              opacity: 1;
              pointer-events: all;
              user-select: unset;
            }
        }
    }

}