html, body {
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

div {
    box-sizing: border-box;
    position: relative;
}

h1, h2, h3, h4, h5, p, button, a,
textarea, input, label, div {
    font-family: 'Proxima Nova', Arial, Helvetica, sans-serif;
}

h1, h2 {
    letter-spacing: 2px;
}

h3, h4, h5 {
    letter-spacing: 1px;
}

.example-parallax {

    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 32px;
    color: white;

    h1 {
        font-size: 50px;
        letter-spacing: 3px;
        font-weight: 0;
        margin: 0 0 24px 0;
        max-width: 60%;
        font-weight: 200;
    }

    h3 {
        font-size: 28px;
        letter-spacing: 3px;
        font-weight: 0;
        margin: 0;
        line-height: 38px;
        max-width: 80%;
        font-weight: 200;
    }

    img {
        width: 312px;
        height: 312px;
        object-fit: contain;
        opacity: 0.82;
    }

}

.jsw-example {

    &.jsw-splash {
        @at-root i#{&} {
            font-size: 132px;
            color: var(--themeMain);
            margin: 32px 0;
        }
    }

}



