.jsw-dropdown {

    max-height: 0;
    transition: max-height 0.45s ease-in-out, opacity 0.35s ease-in-out 0.1s;
    background-color: white;
    overflow: hidden;
    opacity: 0;
    pointer-events: none;
    display: flex;
    position: absolute;
    top: 100%;
    left: 0;

    a {

        width: 100%;

        .jsw-dropdown-item {
            width: 100%;
            box-sizing: border-box;
            background-color: transparent;
            cursor: pointer;
            border: none;

            p {
                font-size: 12px;
                letter-spacing: 1px;
                margin: 6px 0;
                position: relative;
            }
        }

    }

    &.open {
        max-height: 50vh;
        opacity: 1;
        pointer-events: all;
    }

}