.jsw-parallax-container {

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    & > .jsw-child-container {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        z-index: 1;
    }

    & > .jsw-parallax-wrapper {
        position: absolute;
        z-index: 0;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;

        img {
            width: 120%;
            height: 120%;
            top: -10%;
            left: -10%;
            position: absolute;
            object-fit: cover;
            transform: translate(0px, 0px);
        }
    }

}