.jsw-view {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow-x: hidden;
    overflow-y: auto;

    &.hidden {
        pointer-events: none;
    }

    &.fade {

        transition: opacity 0.3s ease-in-out 0.15s;

        &.hidden {
            opacity: 0;

            transition: opacity 0.3s ease-in-out;
        }

    }

    &.slide {
        transition: transform 0.3s ease-in-out;
    }

    &.noscroll {
        overflow-y: hidden;
        -webkit-overflow-scrolling: none;
        overscroll-behavior: none;
    }
}