html, body {
    margin: 0;
    box-sizing: border-box;
    padding: 24px;
    overflow-x: hidden;
}

div {
    box-sizing: border-box;
    position: relative;
}

h1, h2, h3, h4, h5, p, button, a,
textarea, input, label, div {
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2 {
    letter-spacing: 2px;
}

h3, h4, h5 {
    letter-spacing: 1px;
}